{{cartItems}}
<div class="container">
    <div class="row" *ngIf="cartItems.length > 0">
        <div class="col-xl-9 col-lg-8">
            <!-- start of nav-tabs -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link fs-6 fw-bold active" id="nav-1-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1"
                        aria-selected="true">
                        سبد خرید
                        <span class="counter fa-num">3</span>
                    </button>
                    <button class="nav-link fs-6 fw-bold" id="nav-2-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-2"
                        aria-selected="false">
                        لیست خرید بعدی
                        <span class="counter fa-num">1</span>
                    </button>
                </div>
            </nav>
            <!-- end of nav-tabs -->
            <!-- start of tab-content -->
            <div class="tab-content" id="nav-tabContent">
                <!-- start of tab-pane -->
                <div class="tab-pane py-4 fade show active" id="nav-1" role="tabpanel"
                    aria-labelledby="nav-1-tab">
                    <div class="ui-box bg-white p-2">
                        <div class="ui-box-content">
                            <!-- start of cart-items -->
                            <div class="cart-items">
                                <!-- start of cart-item -->
                                <div *ngFor="let item of cartItems" class="cart-item">
                                    <div class="cart-item--thumbnail">
                                        <a href="#">
                                            <img src="./assets/images/carts/01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-item--detail">
                                        <h2 class="cart-item--title mb-2"><a href="#">هدفون بی سیم سامسونگ
                                                مدل
                                                Galaxy Buds
                                                Live</a></h2>
                                        <div class="cart-item--variant mb-2">
                                            <span class="color" style="background-color: #fad7c2;"></span>
                                            <span class="ms-1">طلایی</span>
                                        </div>
                                        <div class="cart-item--data mb-4">
                                            <ul>
                                                <li><i
                                                        class="ri-shield-check-fill text-secondary"></i><span>گارانتی
                                                        اصالت و
                                                        سلامت فیزیکی
                                                        کالا</span></li>
                                                <li><i class="ri-store-3-fill text-secondary"></i><span>اسم
                                                        فروشگاه</span>
                                                </li>
                                                <li>
                                                    <i
                                                        class="ri-checkbox-multiple-fill text-primary"></i><span>موجود
                                                        در
                                                        انبار</span>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <i class="ri-truck-fill text-danger"></i><span>ارسال
                                                        (نحوه
                                                        ارسال)</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-item--price--actions">
                                            <div class="cart-item--actions">
                                                <div class="num-block fa-num me-3">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" value="1"
                                                            readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-delete-bin-5-line me-1"></i><span>حذف</span></button>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-anticlockwise-2-line me-1"></i><span>ذخیره
                                                        در لیست
                                                        خرید
                                                        بعدی</span></button>
                                            </div>
                                            <div class="cart-item--price fa-num">
                                                <div class="cart-item--discount">
                                                    <span>تخفیف</span>
                                                    <del>10,000</del>
                                                    <span class="currency">تومان</span>
                                                </div>
                                                <div class="cart-item--price-now">
                                                    <span>2,110,000</span>
                                                    <span class="currency">تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of cart-item -->
                                <!-- start of cart-item -->
                                <!-- <div class="cart-item">
                                    <div class="cart-item--thumbnail">
                                        <a href="#">
                                            <img src="./assets/images/carts/02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-item--detail">
                                        <h2 class="cart-item--title mb-2"><a href="#">گوشی موبایل اپل مدل
                                                iPhone 13
                                                A2634 دو
                                                سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت</a></h2>
                                        <div class="cart-item--variant mb-2">
                                            <span class="color" style="background-color: #000;"></span>
                                            <span class="ms-1">مشکی</span>
                                        </div>
                                        <div class="cart-item--data mb-4">
                                            <ul>
                                                <li><i
                                                        class="ri-shield-check-fill text-secondary"></i><span>گارانتی
                                                        اصالت و
                                                        سلامت فیزیکی
                                                        کالا</span></li>
                                                <li><i class="ri-store-3-fill text-secondary"></i><span>اسم
                                                        فروشگاه</span>
                                                </li>
                                                <li>
                                                    <i
                                                        class="ri-checkbox-multiple-fill text-primary"></i><span>موجود
                                                        در
                                                        انبار</span>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <i class="ri-truck-fill text-danger"></i><span>ارسال
                                                        (نحوه
                                                        ارسال)</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-item--price--actions">
                                            <div class="cart-item--actions">
                                                <div class="num-block fa-num me-3">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" value="1"
                                                            readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-delete-bin-5-line me-1"></i><span>حذف</span></button>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-anticlockwise-2-line me-1"></i><span>ذخیره
                                                        در لیست
                                                        خرید
                                                        بعدی</span></button>
                                            </div>
                                            <div class="cart-item--price fa-num">
                                                <div class="cart-item--price-now">
                                                    <span>28,250,000</span>
                                                    <span class="currency">تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- end of cart-item -->
                                <!-- start of cart-item -->
                                <!-- <div class="cart-item">
                                    <div class="cart-item--thumbnail">
                                        <a href="#">
                                            <img src="./assets/images/carts/03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-item--detail">
                                        <h2 class="cart-item--title mb-2"><a href="#">
                                                دوربین دیجیتال کانن مدل EOS 4000D به همراه لنز 18-55 میلی
                                                متر DC
                                                III</a>
                                        </h2>
                                        <div class="cart-item--variant mb-2">
                                            <span class="color" style="background-color: #000;"></span>
                                            <span class="ms-1">مشکی</span>
                                        </div>
                                        <div class="cart-item--data mb-4">
                                            <ul>
                                                <li><i
                                                        class="ri-shield-check-fill text-secondary"></i><span>گارانتی
                                                        اصالت و
                                                        سلامت فیزیکی
                                                        کالا</span></li>
                                                <li><i class="ri-store-3-fill text-secondary"></i><span>اسم
                                                        فروشگاه</span>
                                                </li>
                                                <li>
                                                    <i
                                                        class="ri-checkbox-multiple-fill text-primary"></i><span>موجود
                                                        در
                                                        انبار</span>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <i class="ri-truck-fill text-danger"></i><span>ارسال
                                                        (نحوه
                                                        ارسال)</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-item--price--actions">
                                            <div class="cart-item--actions">
                                                <div class="num-block fa-num me-3">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" value="1"
                                                            readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-delete-bin-5-line me-1"></i><span>حذف</span></button>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-anticlockwise-2-line me-1"></i><span>ذخیره
                                                        در لیست
                                                        خرید
                                                        بعدی</span></button>
                                            </div>
                                            <div class="cart-item--price fa-num">
                                                <div class="cart-item--price-now">
                                                    <span>12,100,000</span>
                                                    <span class="currency">تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- end of cart-item -->
                            </div>
                            <!-- end of cart-items -->
                        </div>
                    </div>
                </div>
                <!-- end of tab-pane -->
                <!-- start of tab-pane -->
                <div class="tab-pane py-4 fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                    <div class="ui-box bg-white p-2">
                        <div class="ui-box-content">
                            <!-- start of cart-items -->
                            <div class="cart-items">
                                <!-- start of cart-item -->
                                <div class="cart-item">
                                    <div class="cart-item--thumbnail">
                                        <a href="#">
                                            <img src="./assets/images/carts/03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cart-item--detail">
                                        <h2 class="cart-item--title mb-2"><a href="#">
                                                دوربین دیجیتال کانن مدل EOS 4000D به همراه لنز 18-55 میلی
                                                متر DC
                                                III</a>
                                        </h2>
                                        <div class="cart-item--variant mb-2">
                                            <span class="color" style="background-color: #000;"></span>
                                            <span class="ms-1">مشکی</span>
                                        </div>
                                        <div class="cart-item--data mb-4">
                                            <ul>
                                                <li><i
                                                        class="ri-shield-check-fill text-secondary"></i><span>گارانتی
                                                        اصالت و
                                                        سلامت فیزیکی
                                                        کالا</span></li>
                                                <li><i class="ri-store-3-fill text-secondary"></i><span>اسم
                                                        فروشگاه</span>
                                                </li>
                                                <li>
                                                    <i
                                                        class="ri-checkbox-multiple-fill text-primary"></i><span>موجود
                                                        در
                                                        انبار</span>
                                                    <span class="text-secondary mx-2">|</span>
                                                    <i class="ri-truck-fill text-danger"></i><span>ارسال
                                                        (نحوه
                                                        ارسال)</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-item--price--actions">
                                            <div class="cart-item--actions">
                                                <div class="num-block fa-num me-3">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" value="1"
                                                            readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-delete-bin-5-line me-1"></i><span>حذف</span></button>
                                                <button class="btn btn-link btn-sm text-secondary"><i
                                                        class="ri-anticlockwise-2-line me-1"></i><span>ذخیره
                                                        در لیست
                                                        خرید
                                                        بعدی</span></button>
                                            </div>
                                            <div class="cart-item--price fa-num">
                                                <div class="cart-item--price-now">
                                                    <span>12,100,000</span>
                                                    <span class="currency">تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of cart-item -->
                            </div>
                            <!-- end of cart-items -->
                        </div>
                    </div>
                </div>
                <!-- end of tab-pane -->
            </div>
            <!-- end of tab-content -->
        </div>
        <div class="col-xl-3 col-lg-4">
            <div class="ui-sticky ui-sticky-top">
                <!-- start of checkout-bill -->
                <div class="checkout-bill ui-box bg-white mb-5">
                    <div class="checkout-bill-row">
                        <div class="checkout-bill-row-label">قیمت کالاها (۴)</div>
                        <div class="checkout-bill-row-value"><span class="fs-6">۴۲,۴۲۰,۰۰۰</span> <span
                                class="currency">تومان</span>
                        </div>
                    </div>
                    <div class="checkout-bill-row">
                        <div class="checkout-bill-row-label">تخفیف کالاها</div>
                        <div class="checkout-bill-row-value"><span class="fs-6 text-danger">۵,۰۰۰</span>
                            <span class="currency text-danger">تومان</span>
                        </div>
                    </div>
                    <div class="checkout-bill-row">
                        <div class="checkout-bill-row-label">جمع سبد خرید</div>
                        <div class="checkout-bill-row-value"><span class="fs-6">۴۲,۴۱۵,۰۰۰</span> <span
                                class="currency">تومان</span>
                        </div>
                    </div>
                    <div class="checkout-bill-row checkout-bill-note">
                        هزینه‌ی ارسال در ادامه بر اساس آدرس، زمان و نحوه‌ی ارسال انتخابی شما‌ محاسبه و به
                        این مبلغ اضافه خواهد شد
                    </div>
                    <div class="checkout-bill-row checkout-bill-action">
                        <a href="shipping.html" class="btn btn-block btn-primary">ادامه فرایند خرید</a>
                    </div>
                    <div class="checkout-bill-row checkout-bill-footer">
                        <div class="checkout-bill-row-label">
                            <span class="d-flex">
                                <i class="ri-copper-coin-fill text-warning me-1"></i>
                                <span class="fs-7">امتیاز باشگاه مشتریان</span>
                            </span>
                        </div>
                        <div class="checkout-bill-row-value">۱۵۰ <span
                                class="fs-7 fw-bold text-muted">امتیاز</span></div>
                    </div>
                </div>
                <!-- end of checkout-bill -->
                <!-- start of widget -->
                <div class="widget p-0">
                    <div class="widget-content widget--free-shipping">
                        <div class="free-shipping--detail">
                            <div class="title">ارسال رایگان سفارش</div>
                            <div class="subtitle">سفارش‌های بالای ۳۰۰ هزار تومان</div>
                        </div>
                        <div class="free-shipping--banner">
                            <img src="./assets/images/theme/free-shipping--banner.png"
                                alt="ارسال رایگان سفارش">
                        </div>
                    </div>
                </div>
                <!-- end of widget -->
            </div>
        </div>
    </div>
</div>
