/* ==========================================================================
. Components:Tooltip
========================================================================== */

.tooltip {
    direction: rtl;
    font-family: $font-fa;
    font-size: 13px;
}