/* ==========================================================================
. Components:Toast
========================================================================== */

.iziToast {
    border-radius: 10px;
    box-shadow: 0 40px 32px -24px rgba(15, 15, 15, 0.3);

    &::after {
        content: unset;
    }

    &.iziToast-rtl {
        font-family: $font-fa;
    }
}