/* ==========================================================================
. Forms:Radio
========================================================================== */

.custom-radio-circle {

    .custom-radio-circle-input {
        display: none;

        &:checked+.custom-radio-circle-label {
            .color {
                transform: scale(1.1);

                &::after {
                    content: "\EB7B";
                    position: absolute;
                    font-family: $font-icon;
                    font-size: 18px;
                    color: #ccc;
                    border-color: #a499ff;
                }
            }
        }
    }

    .custom-radio-circle-label {
        .color {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            padding: 5px;
            position: relative;
            transition: all .2s ease-in-out;
        }
    }
}

.custom-radio-box {

    .custom-radio-box-input {
        display: none;

        &:checked+.custom-radio-box-label {
            border-color: $color-primary;

            &::before {
                color: #666;
            }

            &::after {
                content: attr(data-placeholder-checked);
                color: #666;
            }
        }
    }

    .custom-radio-box-label {
        display: block;
        position: relative;
        padding: 45px 15px 15px;
        border: 2px solid #efefef;
        border-radius: 10px;

        &::before {
            content: "\F04F";
            font-family: $font-icon;
            color: #d3d3d3;
            position: absolute;
            right: 15px;
            top: 10px;
        }

        &::after {
            content: attr(data-placeholder);
            color: #d3d3d3;
            position: absolute;
            right: 35px;
            top: 10px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

.custom-radio-btn {

    .custom-radio-btn-input {
        display: none;

        &:checked+.custom-radio-btn-label {
            .label {
                border-color: $color-primary;
                color: $color-primary;
            }
        }
    }

    .custom-radio-btn-label {
        .label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 2px solid #efefef;
            border-radius: 10px;
            cursor: pointer;
            font-size: 13px;
            font-weight: 600;
            padding: 10px 25px;
            position: relative;
            transition: all .2s ease-in-out;
        }
    }
}

.custom-radio-outline {

    .custom-radio-outline-input {
        display: none;

        &:checked+.custom-radio-outline-label {
            .label {
                &::before {
                    content: "\F059";
                    color: $color-primary;
                }

                .icon i,
                .title {
                    color: $color-primary;
                }
            }
        }
    }

    .custom-radio-outline-label {
        .label {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: 600;
            padding: 10px 35px 10px 25px;
            position: relative;
            transition: all .2s ease-in-out;

            &::before {
                content: "\F05A";
                font-family: $font-icon;
                position: absolute;
                right: 0;
                font-size: 21px;
                color: #979797;
            }

            .icon {
                margin-left: 10px;

                i {
                    font-size: 28px;
                    color: #979797;
                }
            }

            .detail {

                .title,
                .subtitle {
                    display: block;
                }

                .title {
                    font-size: 16px;
                }

                .subtitle {
                    color: #979797;
                    font-size: 13px;
                }
            }
        }
    }
}