/* ==========================================================================
. Forms:Check
========================================================================== */

.form-check {
    min-height: unset;
}

.form-check-input {
    &:focus {
        box-shadow: unset;
    }

    &:checked {
        background-color: $color-primary;
        border-color: $color-primary;
    }
}