/* ==========================================================================
. Components:Table
========================================================================== */

.table {
    width: 100%;

    th,
    td {
        text-align: center;
    }

    tr {
        vertical-align: middle;
    }

    thead {
        th {
            padding: 10px 20px;
        }
    }

    tbody {
        td {
            padding: 15px 10px;
        }

        tr {
            &:nth-child(2n) {
                background-color: #f9f9f9;
            }
        }
    }
}