/* ==========================================================================
. Helpers:Typography
========================================================================== */

.fa-num {
    font-family: $font-fa-num;
}

.font-en {
    font-family: $font-en;
}

.fs-7 {
    font-size: .75rem !important;
}

.fw-bolder {
    font-weight: 800 !important;
}