/* ==========================================================================
. Fonts
========================================================================== */

$font-fa: iranyekan;
$font-fa-num: iranyekanfanum;
$font-en: AdobeClean;
$font-icon: remixicon;
$font-base: 14px;

/* ==========================================================================
. Main Colors
========================================================================== */

$color-primary: #2962ff;
$color-text-primary: #fff;
$color-body: #fff;

/* ==========================================================================
. Global colors
========================================================================== */

$primary: #5e2aff;
$danger: #ff1657;
$info: #039be5;
$success: #06d6a0;
$warning: #faae42;